// USAGE
// add-font(Regular, helveticaneue);
// add-font(Bold, helveticaneuecondensedbold);
// add-font(Italic, helveticaneuelightitalic);

add-font(p_family, p_file-name, p_style = normal, p_weight = normal)
	@font-face
		font-family: p_family;
		src:url('../fonts/'+p_file-name+'.eot'),
			url('../fonts/'+p_file-name+'.eot?#iefix') format('embedded-opentype'),
			url('../fonts/'+p_file-name+'.woff') format('woff'),
			url('../fonts/'+p_file-name+'.ttf') format('truetype'),
			url('../fonts/'+p_file-name+'.svg#0e367a30b984427caad4ff30c417ba64') format('svg');
		font-weight: p_weight;
		font-style: p_style;

font-alias-fix(p_weight)
	text-shadow: 0 -1px 1px rgba(255, 255, 255, 0.01);
	text-rendering: optimizeLegibility;    
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: p_weight !important;

set-font-size(p_size)
	font-size: p_size;
	-webkit-text-size-adjust: p_size;
	-ms-text-size-adjust: p_size;

// Adding fonts


add-font('FontAwesome', 'fontawesome-webfont', normal, normal)
add-font('roboto', 'Roboto-Light', normal, 300)
add-font('roboto', 'Roboto-Regular', normal, 400)
add-font('roboto', 'Roboto-Medium', normal, 500)
add-font('roboto', 'Roboto-Bold', normal, 600)
add-font('roboto', 'Roboto-LightItalic', italic, 300)
add-font('roboto', 'Roboto-Italic', italic, 400)
add-font('roboto', 'Roboto-MediumItalic', italic, 500)
add-font('roboto', 'Roboto-BoldItalic', italic, 600)


body, html
	width: 100%
	height: 100%
	padding: 0px
	border: 0px
	margin: 0px
	font-family: Roboto
	tab-size: 4
*
	position: relative
	box-sizing: border-box
a
	color: #6b88f5
	cursor: pointer
	text-decoration: none
nav
	position: fixed
	top: 0px
	left: 0px;
	width: 240px
	height: 100%
	background-color: #ECECEC
	overflow: auto
	padding-bottom: 1em
	font-weight: 400
	font-size: 14px
	content
		display: inline-block
		width: 100%
		padding: 1em
		overflow: visible
	&>a
		padding: 1em 1em 0 1em !important
		
	a
		display: inline-block
		width: 100%
		padding: 0.2em
		&.selected
			background-color: rgba(0, 0, 0, 0.1)
			font-weight: 600
			color: #333333
			pointer-events: none
			cursor: default
	blockquote
		margin: 0 0 0 1em !important
	

main
	position: fixed
	top: 0px
	left: 240px
	right: 0px
	bottom: 0px
	padding: 2em
	font-family: Roboto
	font-weight: 400
	font-size: 14px
	overflow: auto
	
	blockquote
		margin: 0 !important
		padding: 0 0 0 1em !important
		border-left: 4px solid rgba(0, 0, 0, 0.1) !important
		
	
pre
	padding: 0.5em
	background-color: #EEEEEE
	font-size: 12px
	font-family: consolas, monospace;