.dragOn
	width: 100%
	height: 515px
	margin-top:10px
	float:left
	position:relative
	background-color: #FFF
	overflow:hidden
	
	.dragdealer
		height:515px
		width:294px
		float:left
		overflow:hidden
	
	.handle
		position: absolute
		top: 0
		left:0
		// padding:20px
		background-color:#085A75
		z-index: 99999999
		color: #FFF !important
		
		p
			padding:20px
			float:left
			
.dragBox2
	#content-scroller
		img
			width:100%
	.dragOn
		width: 100%
		height: 450px
		margin-top:10px
		float:left
		position:relative
		background-color: #FFF
		overflow:hidden
		
		.dragdealer
			height:450px
			width:800px
			float:left
			overflow:hidden
		
		.handle
			position: absolute
			top: 0
			left:0
			// padding:20px
			background-color:#085A75
			z-index: 99999999
			color: #FFF !important
			
			p
				padding:20px
				float:left
			
.selectedCategoryRelated
	display:none
.selectedNewsRelated
	display:none
	
.inputFileImg
	img
		
		max-height:200px;
		
.addedImg
	img 
		max-height:100px;