.image-grid
	cursor: default
	.item
		border-collapse: collapse
		position: absolute
		display: block
		border: 1px solid rgba(0, 0, 0, 1)
		&.hide
			display: none
		&.hasData
			border: 0px
			background-size: cover
		&:hover
			.edit
				display: block
		.edit
			display: none
			background-color: rgba(0, 0, 0, 0.6)
			position: absolute
			top: 0px
			left: 0px
			bottom: 0px
			right: 0px
			.icon
				font-size: 2em
				position: absolute
				top: 50%
				left: 50%
				margin-left: -0.5em
				margin-top: -0.5em
				cursor: pointer
				color: #FFFFFF
				&:hover
					opacity: 0.6				
			.edit-icon
				@extend .fa-pencil-square
				@extend .fa
				margin-left: -1.25em
			.remove-icon
				@extend .fa-trash
				@extend .fa
				margin-left: 0.25em
				
			
	.selection
		position: absolute
		display: block
		z-index: 1
		background-color: rgba(0, 0, 0, 0.4)
		border: 1px solid rgba(0 ,0, 0, 0.8)
		&.hide
			display: none
			
		.add-icon
			@extend .fa-plus-circle
			@extend .fa
			z-index: 2
			font-size: 2em
			position: absolute
			top: 50%
			left: 50%
			margin-left: -0.5em
			margin-top: -0.5em
			cursor: pointer
			color: #FFFFFF
			&:hover
				opacity: 0.6