.lightbox
	cursor:pointer
.bg-lightbox
	width:100%
	height:100%
	background-color: rgba(255, 255, 255, 0.6)
	position:fixed
	top:0
	left:0
	z-index:999
	.image-lightbox
		background: #FFFFFF
		position: absolute
		min-width:200px
		min-height:200px
		padding:0
		z-index: 9999
		border: 6px solid #CCCCCC
		img
			margin:0
			padding:0
			display:inline-block
		.closed
			position:absolute
			top:-18px
			right:-17px
			width:30px;
			z-index:99999
			color: red
			cursor:pointer