
table
	width: 100%
	border: 1px solid #999999
	thead
		font-weight: 'bold'
		tr
			border-bottom: 1px solid #999999
			background-color: #CACACA
			th
				padding: 8px
	tbody
		font-family: Tahoma
		tr
			&:nth-child(even)
				background-color: #ECECEC
			td
				padding: 4px 8px

