[draggable]
	.drag-handle
		position: absolute
		top: 0px
		right: 0px
		width: 1em
		height: 1em
		text-align: center
		cursor: move
		opacity: 0.6
		&:hover
			opacity: 1
		z-index: 2
draggableplaceholder
	width: 100%
	float: left