fieldset
	border-bottom: 1px solid #CCCCCC
	box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px
	padding: 0.5em
	margin-bottom: 1em
	&:last-child
		border-bottom: 0
		
	legend
		font-size: 1.2em
		padding: 0.2em
		margin-bottom: -0.4em
	select
		margin-top: 1em
