h1, h2, h3, h4, h5, h6
	font-family: Roboto
	font-weight: bold
	padding: 0.2em
*[badge]
	&::after
		font-weight: 500
		content: attr(badge)
		overflow: hidden
		border-radius: 1em
		background-color: #FF0000
		position: absolute
		top: -1em
		right: -2em
		width: 2em
		height: 2em
		font-size: 0.6em
		padding: 0px
		line-height: 2em
		text-align: center

h1
	font-size: 28px
h2
	font-size: 24px
h3
	font-size: 20px
h4
	font-size: 18px
h5
	font-size: 16px
h6
	font-size: 14px