table, .table
	width: 100%
	display: table !important
	td, th
		padding: 0.4em
		line-height: 1.4em
		border-right: 1px solid #EEEEEE
	tr
		border-bottom: 1px solid #CCCCCC
	thead
		tr
			th
				padding: 0.4em
				line-height: 2em
				font-weight: 500
	tbody
		tr
			transition: background-color
			transition-duration: 0.3s
			&:hover
				background-color: rgba(0, 0, 0, 0.06)