.text-left
	text-align: left
.text-right
	text-align: right
.text-center
	text-align: center
.text-justify
	text-align: justify

.text-small
	font-size: 0.8em
.text-xsmall
	font-size: 0.5em
.text-medium
	font-size: 1em
.text-big
	font-size: 1.5em
.text-xbig
	font-size: 2em