tooltip
	position: absolute
	display: none
	font-size: 12px
	z-index: 10000
	white-space: nowrap
	padding: 0.6em
	background-color: _color_primary_dark
	color: _color_text_primary_dark
	font-weight: 400
	border-radius: 2px
	pointer-events: none

	left: 50%
	transform: translateX(-50%)
	bottom: 100%
	// font-alias-fix(normal)

	&.show
		display: block
	
	&[align="t"]
		top: auto
		right: auto
		left: 50%
		transform: translateX(-50%)
		bottom: 100%
	&[align="b"]
		bottom: auto
		right: auto
		left: 50%
		transform: translateX(-50%)
		top: 100%
	&[align="l"]
		bottom: auto
		left: auto
		top: 50%
		transform: translateY(-50%)
		right: 100%
	&[align="r"]
		bottom: auto
		right: auto
		top: 50%
		transform: translateY(-50%)
		left: 100%
