cropper
	max-height: 80vh
	display: block
	position: relative
	.canvas
		@extend .col-1_1
		background-repeat: 'repeat'
		.image
			position: absolute
			background-color: rgba(255, 255, 255, 0.6)
		.preview
			position: absolute
			top: 0px
			left: 0px
			bottom: 0px
			right: 0px
			z-index: 1
			.area
				display: inline-block
				border: 2px dashed #666666
				cursor: move
				.corner
					display: inline-block
					width: 8px
					height: 8px
					background-color: #666666
					position: absolute
					&.tl
						top: -4px
						left: -4px
						cursor: nwse-resize
					&.tr
						top: -4px
						right: -4px
						cursor: nesw-resize
					&.bl
						bottom: -4px
						left: -4px
						cursor: nesw-resize
					&.br
						bottom: -4px
						right: -4px
						cursor: nwse-resize
					
	.thumbs
		@extend .col-1_6
		padding: 1em 0 1em 1em
		max-height: 100%
		overflow-y: auto
		box-shadow: -2px 0px 2px 0 rgba(0,0,0,.14), -3px 0px 1px -2px rgba(0,0,0,.2),-1px 0px 1px 0 rgba(0,0,0,.12)
		.size
			cursor: pointer
			opacity: 0.6
			label
				font-size: 0.8em
				position: absolute
				z-index: 1
				margin: 0.2em
			border: 1px solid #999999
			.thumb-container
				@extend .center-content
				.thumb-mask
					overflow: hidden
					.thumb
						background-color: #EEEEEE
						
			&.required
				label
					font-weight: bold
			&:hover
				opacity: 0.8
				border: 1px solid #666666
				// .thumb-container
				// .thumb-mask
					
			&.selected
				// background-color: #00FF00
				opacity: 1
		
	&.hasThumbs
		.canvas
			@extend .col-5_6