.clonable
	@extend .fa-plus-circle
	@extend .fa
	color: bg-colors[4]
	cursor: pointer
	font-size: 1.5em
	position: absolute
	top: 0px
	right: -1.5em
	transition: color 0.1s, transform 0.1s
	&:hover
		transform: scale(1.1, 1.1)
	&.remove
		transform: rotate(45deg)
		color: bg-colors[0]