.removable
	@extend .fa-times-circle
	@extend .fa
	color: bg-colors[0]
	cursor: pointer
	font-size: 16px
	position: absolute
	z-index: 2
	top: 0px
	transition: color 0.1s, transform 0.1s
	&:hover
		transform: scale(1.1, 1.1)

span[removable]
	display: inline-block