form
	position: relative
	max-width: 600px
input, textarea
	font-family: Tahoma
	border-width: 1px
	border-style: solid
	border-color: #CCCCCC
	font-size: 1em
	padding: 0.3em
	outline: 0
	width: 100%
	&:focus
		border-color: #666666

button
	font-family: helveticaneue
	font-weight: bold
	border-width: 1px
	border-style: solid
	border-color: #CCCCCC
	background-color: #FFFFFF
	outline: 0
	font-size: 1em
	cursor: pointer

select
	padding: 4px 8px
	min-width: 215px
	height: 29px
	-webkit-appearance: menulist-button
	width: 100%
	
	
field
	display: block
	margin-top: 0.7em
	label
		display: block
		margin-bottom: 0.1em


for i in (1...length(bg-colors) + 1)
	button.p{i}
		generateColor(i - 1)
		border-width: 1px
	