form
	position: relative
	max-width: 600px

input, textarea
	font-family: Tahoma
	border-width: 1px
	border-style: solid
	border-color: #CCCCCC
	font-size: 1em
	padding: 0.3em
	outline: 0
	width: 100%
	&:focus
		border-color: #666666
		box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
	&.error
		border-color: #FF0000
input[type=file]
	border-width: 0px
textarea
	height: 6em

button
	font-family: helveticaneue
	font-weight: bold
	border-width: 1px
	border-style: solid
	border-color: #CCCCCC
	background-color: #FFFFFF
	outline: 0
	font-size: 1em
	cursor: pointer
	margin-right: 0.5em
	vertical-align: baseline
	&.disabled
		opacity: 0.3
		cursor: default

select
	padding: 4px 8px
	min-width: 215px
	height: 29px
	-webkit-appearance: menulist-button
	width: 100%
	&.error
		border-color: #FF0000
	
	
field
	display: block
	position: relative
	margin-top: 0.7em
	label
		display: block
		margin-bottom: 0.1em
		font-size: 1.2em
		vertical-align: bottom
		opacity(0.6)
	&.focused
		label
			opacity(1)
	.error-container
		box-sizing: border-box
		font-size: 0.8em
		font-family: tahoma
		padding: 4px
		margin-bottom: 4px
	
		for i in (1...length(bg-colors) + 1)
			&.p{i}
				generateColor(i - 1, 80%)
				border-width: 1px
				
fieldset
	border: 1px solid #CCCCCC
	padding: 0.5em
	margin-bottom: 1em
	legend
		font-size: 1.2em
		padding: 0.2em
		margin-bottom: -0.4em

for i in (1...length(bg-colors) + 1)
	button.p{i}
		generateColor(i - 1)
		border-width: 1px

.rangeInput:focus
	-webkit-box-shadow: none !important
	box-shadow: none !important