form
	position: relative
input
	font-family: Tahoma
	border-width: 1px
	border-style: solid
	border-color: #CCCCCC
	font-size: 1em
	padding: 0.2em
	outline: 0
	&:focus
		border-color: #666666

button
	font-family: helveticaneue
	border-width: 1px
	border-style: solid
	border-color: #CCCCCC
	background-color: #FFFFFF
	outline: 0
	font-size: 1em
	cursor: pointer

for i in (1...length(bg-colors) + 1)
	button.p{i}
		generateColor(i - 1)
		border-width: 1px