@import 'nib'
global-reset()
@import 'font-awesome.min'
@import 'core/fonts'

add-font('FontAwesome', 'font-awesome-webfont', normal, normal)
add-font('roboto', 'Roboto-Light', normal, 300)
add-font('roboto', 'Roboto-Regular', normal, 400)
add-font('roboto', 'Roboto-Medium', normal, 500)
add-font('roboto', 'Roboto-Bold', normal, 600)
add-font('roboto', 'Roboto-LightItalic', italic, 300)
add-font('roboto', 'Roboto-Italic', italic, 400)
add-font('roboto', 'Roboto-MediumItalic', italic, 500)
add-font('roboto', 'Roboto-BoldItalic', italic, 600)

html, body
	height: 100%
	font-family: Roboto
body
	color: #000000
	background-color: rgb(250, 250, 250)
	// font-alias-fix(normal)
sup
	vertical-align: super
	font-size: 0.7em
	font-weight: 300
	
*
	box-sizing: border-box
	border-collapse: collapse
	vertical-align: top
	position: relative
	border-collapse: collapse
	font-family: Roboto
headerHeight = 48px
menuWidth = 200px

table
	border-collapse: collapse

a
	color: inherit
	text-decoration: none

@import 'core/mixins'
@import 'core/animations'
@import 'core/color'
@import 'core/grid'
@import 'core/basic/*'
@import 'core/basic/*/*'
@import 'ui/*'
@import 'slikland/*'
@import 'components/*'
// @import 'component/*'

for i in (1...length(bg-colors) + 1)
	&.color{i}
		generateTextColor(i - 1, 80%)
