@import 'nib'
global-reset()
@import 'core/fonts'

add-font('FontAwesome', 'font-awesome-webfont', normal, normal)
add-font('helveticaneue', 'helveticaneue', normal, normal)
add-font('helveticaneue', 'helveticaneuecondensedbold', normal, bold)
add-font('helveticaneue', 'helveticaneuelightitalic', italic, normal)

body
	font-family: helveticaneue
	font-alias-fix(normal)

headerHeight = 48px
menuWidth = 240px

@import 'core/mixins'
@import 'core/form'
@import 'ui/login'
@import 'ui/header'
@import 'ui/menu'
@import 'ui/main'

