
#      __   ____  __
#     / _\ (  _ \(  )
#    /    \ ) __/ )(
#    \_/\_/(__)  (__)
#
#  H T A C C E S S  A P I

<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteRule ^(.*)$ index.php
</IfModule>
