form
	message
		display: block
		font-size: 0.7em
		padding: 0 0.4em
		color: #333333
		line-height: 1.8em
		background-color: rgba(colors[0], 0.4)
group
	clear: both
	display: inline-block
	position: relative
	width: 100%

input:not([type=button]), textarea
	font-size: 1em
	padding: 0.3em
	outline: 0
	width: 100%
button, .buttonType
	font-weight: 500
	outline: 0
	font-size: 1em
	cursor: pointer
	margin-right: 0.5em
	vertical-align: baseline
	&.disabled
		opacity: 0.3
		cursor: default
.hidden-file-input
	position: absolute
	opacity: 0
	display: none
	top: 0px
	left: 0px
	right: 0px
	bottom: 0px
	