suggestion
	position: absolute
	z-index: 5
	box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px
	display: none
	
	item
		display: block
		background-color: #FFFFFF
		cursor: pointer
		&:hover
			background-color: #EAEAEA
		&.selected
			background-color: _color_secondary_light
