/**
** PAGE AUTH
** COLOR ICONS
**/
    .icon-success {
        color: #007700 !important;
    }
    .icon-error {
        color: #DD0000 !important;
    }


    #login {}
    #forgot {}

        #authBox {
            width: 300px;
            margin: 0 auto;
        }
        .loading #authBox {
            opacity: 0;
        }
            #formAuth.sending {
                opacity: 0.7;
                cursor: wait;
            }


