// Block elements like grid

generateBlock(cols, margin = 16px)
	for b in (1..cols)
		.b{b}_{cols}
			perc = (b / cols * 100) %
			width: "calc(%s - %s)" % (perc margin)
			margin-right: margin
		
generateBlock(2)
generateBlock(3)
generateBlock(4)
generateBlock(5)
generateBlock(6)
generateBlock(7)
generateBlock(8)
generateBlock(9)
generateBlock(10)
generateBlock(11)
generateBlock(12)
generateBlock(13)
generateBlock(14)
generateBlock(15)