card, .card
	float: left
	display: inline-block
	margin: 0.2em
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12)
	background-color: #FFFFFF
	@extend .col-full
	color: _color_text
	
	transition: box-shadow 0.1s
	header, content, footer
		padding: 0.6em
		display: inline-block
		width: 100%
	
	header
		@extend h3
		font-weight: 400
		vertical-align: bottom
		box-shadow: 0 0px 2px 0 rgba(0,0,0,.14)

	footer
		font-weight: bold
		vertical-align: bottom
		box-shadow: 0 0px 2px 0 rgba(0,0,0,.14)
	a:hover &
		box-shadow: 0 6px 6px 0 rgba(0,0,0,.2),0 8px 3px -6px rgba(0,0,0,.3),0 3px 12px 0 rgba(0,0,0,.2)
		z-index: 1
