header
	slide-down()
	position: fixed
	top: 0px
	width: 100%
	height: headerHeight
	background-color: rgba(0, 0, 0, 0.7)
	line-height: headerHeight
	color: #FFFFFF
	font-weight: bold
	div
		inline-block()
	>div
		inline-block()
		height: 100%
		line-height: headerHeight
		box-sizing: border-box
		padding-left: 8px
		padding-right: 8px
	
	.left
		.logo
			max-height: headerHeight - 16px
			vertical-align: middle
		span.cms
			vertical-align: middle
			
		
	.right
		span.separator
			padding: 0 0.3em
		span.sign-out
			color: #FF3333