header
	position: fixed
	top: 0px
	width: 100%
	height: headerHeight
	background-color: rgba(0, 0, 0, 0.7)
	line-height: headerHeight
	color: #FFFFFF
	div
		inline-block()
	>div
		inline-block()
		height: 100%
		line-height: headerHeight
		box-sizing: border-box
		padding-left: 8px
		padding-right: 8px
	
	.logo
		max-height: headerHeight - 16px
		vertical-align: middle
