section.login
	width: 300px
	border: 1px solid #666666
	position: absolute
	left: 50%
	margin-left: -150px
	top: 10%
	h2.title
		font-size: 1.4em
		width: 100%
		background-color: #EEEEEE
		padding: 8px
		box-sizing: border-box
		border-bottom: 1px solid #AAAAAA
	form
		box-sizing: border-box
		padding: 8px
		field
			display: block
			padding-top: 0.5em
			text-align: right
		label
			text-align: center
			display: inline-block
			margin-right: 0.5em
		input
			width: 250px
		field.buttons
			text-align: right