main
	overflow: auto
	position: fixed
	top: headerHeight
	padding: 1em
	left: menuWidth
	right: 0px
	bottom: 0px
	z-index: 100
	main
		height: 100%
		overflow: auto
		show(0.3s, 0.3s)
		box-sizing: border-box
		padding: 1em