div.main
	overflow: hidden
	position: fixed
	top: headerHeight
	left: menuWidth
	right: 0px
	bottom: 0px
	main
		height: 100%
		overflow: auto
		show(0.3s, 0.3s)
		box-sizing: border-box
		padding: 1em