nav
	position: fixed
	top: headerHeight
	bottom: 0px
	width: menuWidth
	background-color: rgba(4, 0, 8, 0.7)
	overflow: auto
	slide-right(0.3s, 0.1s)
	
	a
		display: inline-block
		box-sizing: border-box
		width: 100%
		padding-top: 0.75em
		padding-bottom: 0.75em
		padding-left: 0.75em
		vertical-align: middle
		color: #FFFFFF
		border-top: 1px solid #999999
		border-bottom: 1px solid #333333
		font-weight: bold
		
		&:hover,&.selected
			background-color: rgba(255, 255, 255, 0.2)
	
	ul
		width: 100%
		li
			width: 100%
			&:last-child
				border-bottom: 1px solid #333333
			a
				padding-left: 1.5em
				background-color: rgba(0, 0, 0, 0.1)
				border-bottom: 0px
				border-top: 1px solid #333333
