nav
	@extend .card
	position: fixed
	top: headerHeight
	bottom: 0px
	padding: 0.4em 0
	margin: 0
	width: menuWidth
	background-color: #FFFFFF
	color: lighten(#000000, 50)
	overflow: auto
	font-size: 14px
	font-weight: 400
	z-index: 200
	
	>h1
		padding: 0.6em
		font-size: 18px
		vertical-align: bottom
		img
			float: left

	ul
		font-weight: normal
		padding: 0 0.6em
		padding-right: 0
		li
			a
				display: inline-block
				width: 100%
				padding: 0.4em
				padding-right: 0
				color: _color_text_dark
				transition: background-color 0.1s, color 0.1s
				&.selected
					background-color: _color_primary_light
					color: _color_text_primary_light
				&:hover
					background-color: _color_primary
					color: _color_text_primary
				a
					color: inherit
				
	&>ul
		font-weight: 600
		padding-right: 0.6em
