
#     ___  _  _  ____
#    / __)( \/ )/ ___)
#   ( (__ / \/ \\___ \
#    \___)\_)(_/(____/
#
#     H T A C C E S S

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php
</IfModule>